# My First Project

## Introduction
In this notebook....

## Data Science Languages
1. Python
2. R
3. SQL
4. Julia
5. Scala

## Data Science Libraries
1. NumPy
2. Pandas
3. Matplotlib
4. Scikit-learn
5. TensorFlow
6. PyTorch

## Data Science Tools
| Tool           | Description                       |
|----------------|-----------------------------------|
| Jupyter Notebook | Interactive coding environment  |
| RStudio        | IDE for R programming            |
| Apache Spark   | Big data processing framework    |
| Tableau        | Data visualization platform      |

## Arithmetic Expressions
Below are examples of arithmetic expressions.

In [7]:
# Multiplication and addition example
result = (3 * 4) + 5
print("The result is:", result)

The result is: 17

In [9]:
# Convert minutes to hours
minutes = 200
hours = minutes / 60
print(f"{minutes} minutes is equal to {hours} hours.")

200 minutes is equal to 3.3333333333333335 hours.

## Objectives
- Learn about Data Science tools
- Understand programming languages for Data Science
- Explore popular libraries and frameworks
- Practice basic arithmetic expressions

## Author
Elias Kyriakides